
/** head **/

.head-main{
  display:flex;
  justify-content: center;
  margin: auto;
  position: relative;
  background-image: url(../img/janken.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.head-img{
  margin-top: 600px;
  padding-top: 20px;
  padding-bottom: 50px
}

.button {

  width: 140%;
  height: 140%;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  font-family:'Volkhov', serif;
  font-size: 14px;
}

.button:hover {
  background-color: #fff;
  border-color: #333;
  color: #333;
}







/** janken **/


.header-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family:'Volkhov', serif;
  font-size: 20px;
  color: #424242;
  background-color: #BDBDBD;
}

.hand-cover{
    background-color: #ECF6CE;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 70px;
}

.hand{
  display: flex;
  justify-content:center;
  margin: auto;
  height: 120px;
  width:500px;
}

 .btn{
   height: 60%;
   width: 60%;
 }


.main-img{
  display: flex;
  justify-content:center;
  margin: auto;
  width: 100%;
  object-fit:contain;
}


.enm{
  justify-content:center;
  text-align:center;
  margin: auto;
}

.result-content{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ECF6CE;

}


.title{
  display: flex;
  justify-content: center;
  margin: auto;
  font-family:'Volkhov', serif;
  font-size: 18px;
  color: #424242;

}

.result{
  display: flex;
  justify-content:center;
  margin: auto;
  font-family:'Volkhov', serif;
  font-size: 18px;
  color: #424242;
  background-color: #ECF6CE;
  padding-bottom: 30px;
}

.gif {
  padding-top: 6px;
  display: flex;
  background: url(../img/janken.gif) no-repeat center center;
  zoom:1.6;
  width: 400px;
  height: 400px;
}
